

.Appheader {
    background-color: #1a1a1a;
    min-height: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    color: white;
}

.PasekNawigacyjny {
    background-color: #656565;
    height: 100% ;
    width: 60%;
    display:inline-flex;

    padding: 0 10px 0 10px;
}
.Lewa {
    height: 100%;
    width: 60%;
}

.Prawa {
    height: 100%;
    width: 60%;
}
.TextLewa{
    text-align: left;
    margin: fill;
}
.TextPrawa{
    text-align: right;
    vertical-align: middle;
}